In [ ]:
print("hrllo")

In [5]:
def greet():
    print("hello rajan")
greet()

hello rajan

In [ ]:
def add(x,y):
    return x+y
add(2,4)

In [11]:
# argument function
#default argument
def greet(name,greeting="hello"):
    
    print(name,greeting)
greet("rajan","good morning")

rajan good morning

In [12]:
def greet(greeting="hello"):
    print(greeting)
greet("hi")

hi

In [15]:
def wish(name,msg):
    print("hello",name,msg)
wish(msg="lang",name="python")

hello python lang

In [18]:
def wish(name,msg):
    print("hello",name,msg)
wish("python",msg="lang")

hello python lang

In [19]:
#variable argument
def add(*n):
    total=0
    for i in n:
        total+=i
    print(total)
add(1,2,3,4,5)

24

In [ ]:
def add(*args):
    total=0
    for i in args:
        total+=i
    return total 
add(1,2,3,4,5)

In [22]:
def display_info(**kwargs):
    for key, value in kwargs.items():
        print(key, ":", value)

display_info(name="Alice", age=25, city="Wonderland",add="addd")

name : Alice
age : 25
city : Wonderland
add : addd

In [27]:
def complex_function(a, b, *args, c=10, **kwargs):
    print("a:", a)
    print("b:", b)
    print("c:", c)
    print("Additional positional arguments:", args)
    print("Additional keyword arguments:", kwargs)

complex_function(1,6,8 ,c=5, d="extra", e="more")

a: 1
b: 6
c: 5
Additional positional arguments: (8,)
Additional keyword arguments: {'d': 'extra', 'e': 'more'}

In [42]:

def example_function():
    # Local variable
    local_var = "I am a local variable"

# Call the function
example_function()
print(local_var)

# Try to access the local variable outside the function (will result in an error)
# print(local_var)  # Uncommenting this line will raise a NameError

I am a local variable

In [39]:
globle_var="hi i am rajan"
def glob():
    print(globle_var)
glob()  
print(globle_var)

hi i am rajan
hi i am rajan

In [38]:
global_var = "I am a global variable"

def modify_global():
    # Using the global keyword to modify the global variable
    global global_var
    global global_var
    global_var = "I've been modified inside the function"
   
    global_var="rajan"

# Call the function
modify_global()

# Accessing the modified global variable outside the function
print(global_var)
print(global_var)

rajan
rajan

In [ ]:
# wap that ask a user for an hour between 1 and 12 ask them to enter am or pm are hours into the future they want to go
current_time=int(input("enter the hours between 1 to 12:"))
am_pm=input("enter am or pm:")
time_travel=int(input("enter how many hours they want to go in future:"))
total_time=current_time+time_travel
if total_time>12 and am_pm=="am":
    total_time-=12
    am_pm="pm"
if total_time>12 and am_pm=="pm":
    total_time-=12
    am_pm="am"
print(total_time,am_pm)

In [ ]:
# an int is called squere-free if it is not divisiable by any perfect square other than 1 for instance 42 is squere-free number because 1,2,6,7 and non of them is perfect square but 45 is not square-free.wap to take input from user and check if it is square-free or not.
num=int(input("enter the number"))
flag=0
for i in range(2,num):
    if num%i==0:
        if(num%(i**2)==0):
            flag+=1
if flag==0:
    print("it is square-free:")
else:
    print("not square-free:")

In [ ]:
# write all integer solution of x^2-2y^2=1 x between 1 to 100
for i in range(1,101):
    for j in range(1,101):
        if(i**2)-2*(j**2)==1:
            print(i,j)

In [ ]:
#write a code that gives an amount of change for 1$ and it prints out exact the denomation that will be needed for change
x=float(input("enter value (less than 1 $):"))
quarter=0
dime=0
nickel=0
penny=0
if x<1:
    while x!=0 and x>0.25:
        quarter+=1
        x=x-0.25
    while x!=0 and x>=0.10:
        dime+=1
        x=x-0.10
    while x!=0 and x>=0.05:
        nickel+=1
        x=x-0.05
    while x!=0 and x>=0.0:
        x=x-0.01
        penny+=1
print("quarter:",quarter)
print("dime:",dime)
print("nickel:",nickel)
print("penny:",penny)

In [ ]:
# suppose you put one rupees in a bank at 1st day(mon) and every day from next day (tues to sum)you put in one rupees more
# than the day before and on every sub sequance mon you will put one rupees more than the previouse mon,if you have number n
# find total amount of maney at the end of n the day
day=int(input("enter the day"))
temp=day
rupee=0
val=0
j=0
for i in range(1,temp+1):
    if i%8==0:
        val=0
        j+=1
    rupee=rupee+val+j+1
    val=+1
print("rupees:",rupee)

In [7]:
for n in range(1,30):
    res=n
    while res!=1 and res!=4:
        sum=0
        r=0
        while res>0:
            r=res%10
            sum=sum+r**2
            res=res//10
        res=sum   
    if res==1:
        print(n,end=" ")

1 7 10 13 19 23 28

In [10]:
# pascal triangle
n=int(input("enter the number of row:"))
for i in range(n+1):
    for j in range(n-i):
        print(" ",end=" ")
    c=1
    for k in range(1,i+1):
        print(c," ",sep=" ",end=" ")
        c=c*(i-k)//k
    print()

enter the number of row:6

          1
        1   1
      1   2   1
    1   3   3   1
  1   4   6   4   1
1   5   10   10   5   1

In [4]:
def sol(n):
    
    for a in range(1,n+1):
        for b in range(1,n+1):
            for c in range(1,n+1):
                for d in range(1,n+1):
                    for e in range(1,n+1):
                        for f in range(1,n+1):
                            product=a*b*c*d*e*f
                            if product==n:
                                print(a,b,c,d,e,f,"=",n)
n=6
sol(n)

1 1 1 1 1 6 = 6
1 1 1 1 2 3 = 6
1 1 1 1 3 2 = 6
1 1 1 1 6 1 = 6
1 1 1 2 1 3 = 6
1 1 1 2 3 1 = 6
1 1 1 3 1 2 = 6
1 1 1 3 2 1 = 6
1 1 1 6 1 1 = 6
1 1 2 1 1 3 = 6
1 1 2 1 3 1 = 6
1 1 2 3 1 1 = 6
1 1 3 1 1 2 = 6
1 1 3 1 2 1 = 6
1 1 3 2 1 1 = 6
1 1 6 1 1 1 = 6
1 2 1 1 1 3 = 6
1 2 1 1 3 1 = 6
1 2 1 3 1 1 = 6
1 2 3 1 1 1 = 6
1 3 1 1 1 2 = 6
1 3 1 1 2 1 = 6
1 3 1 2 1 1 = 6
1 3 2 1 1 1 = 6
1 6 1 1 1 1 = 6
2 1 1 1 1 3 = 6
2 1 1 1 3 1 = 6
2 1 1 3 1 1 = 6
2 1 3 1 1 1 = 6
2 3 1 1 1 1 = 6
3 1 1 1 1 2 = 6
3 1 1 1 2 1 = 6
3 1 1 2 1 1 = 6
3 1 2 1 1 1 = 6
3 2 1 1 1 1 = 6
6 1 1 1 1 1 = 6

In [19]:
# find the value of under root 2 and other root number
def guess1(n):
    guess=0
    guess=n/2
    for i in range(11):
        guess=0.5*(guess+n/guess)
    return guess
n=int(input("enter the num:"))
guess1(n)

enter the num:4

2.0

In [24]:
# ramanujan number
for a in range(1,30):
    for b in range(1,30):
        for c in range(1,30):
            for d in range(1,30):
                if a!=b and c!=d and a!=c and a!=d and c!=b :
                    x=a**3+b**3
                    y=c**3+d**3
                    if (x==y):
                            print(a,b," ",c,d," =",x)

1 12   9 10  = 1729
1 12   10 9  = 1729
2 16   9 15  = 4104
2 16   15 9  = 4104
2 24   18 20  = 13832
2 24   20 18  = 13832
9 10   1 12  = 1729
9 10   12 1  = 1729
9 15   2 16  = 4104
9 15   16 2  = 4104
10 9   1 12  = 1729
10 9   12 1  = 1729
10 27   19 24  = 20683
10 27   24 19  = 20683
12 1   9 10  = 1729
12 1   10 9  = 1729
15 9   2 16  = 4104
15 9   16 2  = 4104
16 2   9 15  = 4104
16 2   15 9  = 4104
18 20   2 24  = 13832
18 20   24 2  = 13832
19 24   10 27  = 20683
19 24   27 10  = 20683
20 18   2 24  = 13832
20 18   24 2  = 13832
24 2   18 20  = 13832
24 2   20 18  = 13832
24 19   10 27  = 20683
24 19   27 10  = 20683
27 10   19 24  = 20683
27 10   24 19  = 20683

In [48]:
y="hi"
def sol():
    
    print(y)
sol() 
print(y)

hi
hi